<div class="blog-tags">
    <div class="row align-items-center">

        <!-- Sol taraf -->
        <div class="col-md-8">
            <ul class="mata-tags">
                <li class="tags">Etiketler:</li>

                <li><a href="#">Yapay Zeka</a></li>
                <li><a href="#">Yazılım</a></li>
                <li><a href="#">Junior Developer</a></li>
            </ul>
        </div>

        <!-- Sağ taraf -->
        <div class="col-md-4">
            <ul class="social-links text-right">
                <li class="shares">Paylaş:</li>

                <li>
                    <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>