<div class="back-title back-small-title">
    <h2>Bize Ulaşın</h2>
</div>

<ul class="social-area">

    <li>
        <div>
            <a href="#">
                <i class="fa-brands fa-facebook-f"></i>
            </a>

            <span>
                Takipçi
                <em>750</em>
            </span>
        </div>
    </li>

    <li>
        <div>
            <a href="#">
                <i class="fa-brands fa-twitter"></i>
            </a>

            <span>
                Hayran
                <em>1236</em>
            </span>
        </div>
    </li>

    <li>
        <div>
            <a href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <span>
                Beğeni
                <em>523</em>
            </span>
        </div>
    </li>

    <li>
        <div>
            <a href="#">
                <i class="fa-brands fa-vimeo-v"></i>
            </a>

            <span>
                Yorum
                <em>790</em>
            </span>
        </div>
    </li>

    <li>
        <div>
            <a href="#">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>

            <span>
                Takipçi
                <em>1025</em>
            </span>
        </div>
    </li>

    <li>
        <div>
            <a href="#">
                <i class="fa-brands fa-youtube"></i>
            </a>

            <span>
                Abone
                <em>590M</em>
            </span>
        </div>
    </li>

</ul>