<div class="menu-part">
    <div class="container">
        <!--================= Back Menu Start Here =================-->
        <div class="back-main-menu">
            <nav>
                <!--================= Menu Toggle btn =================-->
                <div class="menu-toggle">
                    <div class="logo"><a href="index.html" class="logo-text"> <img class="back-logo-dark" src="/tema/assets/images/logo.png" alt="logo"> <img class="back-logo-light" src="/tema/assets/images/light-logo.png" alt="logo"> </a></div>

                    <div class="searchbar-part back-search-mobile">
                        <ul>
                            <li class="back-dark-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun back-go-light1"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon back-go-dark1"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                            </li>
                            <li class="back_search"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></li>
                            <li class="back-sign"><a href="login.html">Giriş Yap</a></li>
                            <li id="nav-expanders" class="nav-expander bar">
                                <span class="back-hum1"></span>
                                <span class="back-hum2"></span>
                                <span class="back-hum3"></span>
                            </li>
                        </ul>
                        <form class="search-form">
                            <input type="text" class="form-input" placeholder="Aranacak Kelimeler...">
                            <button type="submit" class="form-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                            </button>
                        </form>
                    </div>

                    <button type="button" id="menu-btn">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--================= Menu Structure =================-->
                <div class="back-inner-menus">
                    <ul id="backmenu" class="back-menus back-sub-shadow">

                        <li>  <a href="#">Ana Sayfa</a> </li>
                       
                        <li>
                            <a href="#">Kategoriler</a>
                            <ul>
                                <li><a href="politics.html">Politika</a></li>
                                <li><a href="technology.html">Teknoloji</a></li>
                                <li><a href="health.html">Sağlık</a></li>
                                <li><a href="travel.html">Seyahat</a></li>
                                <li><a href="lifestyle.html">Yaşam Tarzı</a></li>
                                <li><a href="sports.html">Spor</a></li>
                            </ul>
                        </li>
                        
                        <li>  <a href="#">Yazarlar</a>
                        <ul>
                            <li><a href="author1.html">Yazar 1</a></li>
                                <li><a href="author2.html">Yazar 2</a></li>
                                <li><a href="author3.html">Yazar 3</a></li>
                                <li><a href="author4.html">Yazar 4</a></li>
								<li><a href="author5.html">Yazar 5</a></li>
                        </ul>    
                        </li>

                        <li>  <a href="#">Hakkımızda</a> </li>
                        <li>  <a href="#">Bize Ulaşın</a> </li>
                    </ul>

                    <div class="searchbar-part back-search-desktop">
                        <ul>
                            <li class="back-dark-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun back-go-light"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon back-go-dark"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                            </li>
                            <li class="back_search"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></li>
                            <li class="back-sign"><a href="login.html">Sign In</a></li>
                            <li id="nav-expander" class="nav-expander bar">
                                <span class="back-hum1"></span>
                                <span class="back-hum2"></span>
                                <span class="back-hum3"></span>
                            </li>
                        </ul>
                        <form class="search-form">
                            <input type="text" class="form-input" placeholder="Search Here">
                            <button type="submit" class="form-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <!--=================  Back Menu End Here  =================-->
    </div>
</div>