<div class="back-hero-area back-latest-posts back-whats-posts back-feature-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="back-title">
                    <h2>Gelecek Yazılarımız</h2>
                </div>

                <ul class="back-hero-bottom back-hero-bottom2">
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/feature/1.jpg" alt="image"></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cate back-tra">Travel</a>
                            <h3><a href="#">Skydivers in freefall scare after getting tangled up in mid-air</a></h3>
                            <p>Congue eligendi excepteur hac nascetur morbi exercita tion ducimus, quae eaexce pturer lander balrola...</p>
                            <ul class="back-meta">
                                <li class="back-author"><span><img src="/tema/assets/images/author/1.jpg" alt="image"></span>by <a href="#">Jon Deo</a></li>
                                <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>March 26, 2022</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/feature/2.jpg" alt="image"></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cate back-tech2">Technology</a>
                            <h3><a href="#">Heineken launches virtual beer in self-mocking metaverse joke</a></h3>
                            <p>Congue eligendi excepteur hac nascetur morbi exercita tion ducimus, quae eaexce pturer lander balrola...</p>
                            <ul class="back-meta">
                                <li class="back-author"><span><img src="/tema/assets/images/author/1.jpg" alt="image"></span>by <a href="#">Jon Deo</a></li>
                                <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>March 26, 2022</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/feature/3.jpg" alt="image"></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cate back-tech">Environment</a>
                            <h3><a href="#">Industrial pollution are importede straws to have cost implications</a></h3>
                            <p>Congue eligendi excepteur hac nascetur morbi exercita tion ducimus, quae eaexce pturer lander balrola...</p>
                            <ul class="back-meta">
                                <li class="back-author"><span><img src="/tema/assets/images/author/1.jpg" alt="image"></span>by <a href="#">Jon Deo</a></li>
                                <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>March 26, 2022</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/feature/4.jpg" alt="image"></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cate back-fashion">ADVENTURE</a>
                            <h3><a href="#">Ready for discover sea diving position fall nation area</a></h3>
                            <p>Congue eligendi excepteur hac nascetur morbi exercita tion ducimus, quae eaexce pturer lander balrola...</p>
                            <ul class="back-meta">
                                <li class="back-author"><span><img src="/tema/assets/images/author/1.jpg" alt="image"></span>by <a href="#">Jon Deo</a></li>
                                <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>March 26, 2022</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/feature/5.jpg" alt="image"></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cate back-poli">Politics</a>
                            <h3><a href="#">If you destroy the earth, you dstroy the chance of life once more</a></h3>
                            <p>Congue eligendi excepteur hac nascetur morbi exercita tion ducimus, quae eaexce pturer lander balrola...</p>
                            <ul class="back-meta">
                                <li class="back-author"><span><img src="/tema/assets/images/author/1.jpg" alt="image"></span>by <a href="#">Jon Deo</a></li>
                                <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>April 25, 2022</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="text-center pt-73">
                    <a href="#" class="back-btn">View All Posts</a>
                </div>
            </div>
            <div class="col-lg-4 pl-30">
                <div class="back-title back-small-title">
                    <h2>Categories</h2>
                </div>
                <ul class="back-category-area">
                    <li>
                        <div>
                            <img src="/tema/assets/images/category/1.jpg" alt="Cagegory Image">
                            <a href="#"><span><em>10</em> Travel</span></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/tema/assets/images/category/2.jpg" alt="Cagegory Image">
                            <a href="#"><span> <em>19</em> Technology</span></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/tema/assets/images/category/3.jpg" alt="Cagegory Image">
                            <a href="#"><span> <em>15</em> Food</span></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/tema/assets/images/category/4.jpg" alt="Cagegory Image">
                            <a href="#"><span> <em>20</em> Fashion</span></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/tema/assets/images/category/5.jpg" alt="Cagegory Image">
                            <a href="#"><span> <em>22</em> Life Style</span></a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/tema/assets/images/category/6.jpg" alt="Cagegory Image">
                            <a href="#"><span> <em>18</em> Adventure</span></a>
                        </div>
                    </li>
                </ul>
                <div class="back-title back-small-title pt-30">
                    <h2>Most Read</h2>
                </div>
                <ul class="back-hero-bottom">
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/read/1.jpg" alt="image"></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cates">Politics</a>
                            <h3><a href="#">Save the earth, save a life no earth, no life health.</a></h3>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/read/2.jpg" alt="image"></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cates">Technology</a>
                            <h3><a href="#">That woman comes from heaven just for me working</a></h3>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/read/3.jpg" alt="image"></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cates">Environment</a>
                            <h3><a href="#">Brighten up your day with solar amd eco power man</a></h3>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/read/4.jpg" alt="image"></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cates">Travel</a>
                            <h3><a href="#">Leveraging tech to drive a better IT experience others</a></h3>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/read/5.jpg" alt="image"></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cates">Lifestyle</a>
                            <h3><a href="#">Green leaves photo plant the with cute girl modeling</a></h3>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/read/6.jpg" alt="image"></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cates">Art & Design</a>
                            <h3><a href="#">That woman comes from of heaven look like angel</a></h3>
                        </div>
                    </li>
                </ul>
                <div class="back-title back-small-title pt-25">
                    <h2>Follow Us</h2>
                </div>
                <ul class="back-instragram">
                    <li><a href="#"> <img src="/tema/assets/images/instragram/1.jpg" alt="image"> <i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"> <img src="/tema/assets/images/instragram/2.jpg" alt="image"> <i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"> <img src="/tema/assets/images/instragram/3.jpg" alt="image"> <i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"> <img src="/tema/assets/images/instragram/4.jpg" alt="image"> <i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"> <img src="/tema/assets/images/instragram/5.jpg" alt="image"> <i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"> <img src="/tema/assets/images/instragram/6.jpg" alt="image"> <i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>