<ul class="back-hero-bottom back-hero-slider2 owl-carousel">
                        <li>
                            <div class="image-areas">
                                <a href="#"><img src="assets/images/hero-blog/5.jpg" alt="image"></a>                                
                            </div>
                            <div class="back-btm-content">
                                <a href="#" class="back-cates">Design</a>
                                <h3><a href="#">Beautiful lady hookup</a></h3>
                                <ul>
                                    <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>March 22, 2022</li>                                        
                                </ul>
                            </div> 
                        </li>
                        <li>
                            <div class="image-areas">
                                <a href="#"><img src="assets/images/hero-blog/6.jpg" alt="image"></a>
                            </div> 
                            <div class="back-btm-content">
                                <a href="#" class="back-cates">Travel</a>
                                <h3><a href="#">Need some fresh air</a></h3>
                                <ul>
                                    <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>April 20, 2022</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="image-areas">
                                <a href="#"><img src="assets/images/hero-blog/7.jpg" alt="image"></a>
                            </div> 
                            <div class="back-btm-content">
                                <a href="#" class="back-cates">Technology</a>
                                <h3><a href="#">Art is creative minds</a></h3>
                                <ul>
                                    <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>May 20, 2022</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="image-areas">
                                <a href="#"><img src="assets/images/hero-blog/8.jpg" alt="image"></a>                                
                            </div>
                            <div class="back-btm-content">
                                <a href="#" class="back-cates">Lifestyle</a>
                                <h3><a href="#">Beautiful lady hookup</a></h3>
                                <ul>
                                    <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>March 22, 2022</li>
                                </ul>
                            </div> 
                        </li>
                    </ul>      
