<div class="back-title back-small-title pt-50">
    <h2>Yorumlar</h2>
</div>

<div class="widget back-recent-comments">

    <ul class="recent-comments">

        <li>

            <span class="post-images">
                <img src="/tema/assets/images/author/1.jpg" alt="post">
            </span>

            <div class="titles">

                <h4>Ahmet Yılmaz</h4>

                <span>14 Ocak 2025</span>

                <p>
                    Yapay zeka destekli araçlar geliştirme sürecini gerçekten hızlandırıyor.
                </p>

            </div>

        </li>

        <li>

            <span class="post-images">
                <img src="/tema/assets/images/author/2.jpg" alt="post">
            </span>

            <div class="titles">

                <h4>Elif Kara</h4>

                <span>10 Nisan 2025</span>

                <p>
                    Makaledeki öneriler oldukça faydalı olmuş, teşekkürler!
                </p>

            </div>

        </li>

        <li>

            <span class="post-images">
                <img src="/tema/assets/images/author/3.jpg" alt="post">
            </span>

            <div class="titles">

                <h4>Mehmet Demir</h4>

                <span>16 Temmuz 2025</span>

                <p>
                    Junior geliştiriciler için gerçekten motive edici bir içerik olmuş.
                </p>

            </div>

        </li>

    </ul>

</div>