<div class="back-trading-video">
    <div class="container">
        <div class="back-title">
            <h2>Video Oynatma</h2>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <ul>
                    <li>
                        <div class="image-area">
                            <a href="#"><img src="/tema/assets/images/video/1.jpg" alt="image"></a>
                            <a href="https://www.youtube.com/watch?v=e5Hc2B50Z7c" class="popup-videos back-video"><i class="fa-solid fa-play"></i></a>
                            <div class="back-btm-content">
                                <h3><a href="#">MANİFEST</a></h3>
                                <ul>
                                    <li class="back-author"><span><img src="/tema/assets/images/author/1.jpg" alt="image"></span><a href="#">by Jon Deo</a></li>
                                    <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>March 26, 2022</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 pl-30 md-pt-40">
                <ul class="back-hero-bottom">
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/video/2.jpg" alt="image"></a>
                            <a href="https://www.youtube.com/watch?v=e5Hc2B50Z7c" class="popup-videos back-video"><i class="fa-solid fa-play"></i></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cates">Travel</a>
                            <h3><a href="#">My whole mind travels alone with her soul</a></h3>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/video/3.jpg" alt="image"></a>
                            <a href="https://www.youtube.com/watch?v=e5Hc2B50Z7c" class="popup-videos back-video"><i class="fa-solid fa-play"></i></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cates">Technology</a>
                            <h3><a href="#">Blue and white round soft light off rgb</a></h3>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/video/4.jpg" alt="image"></a>
                            <a href="https://www.youtube.com/watch?v=e5Hc2B50Z7c" class="popup-videos back-video"><i class="fa-solid fa-play"></i></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cates">Fashion</a>
                            <h3><a href="#">Green leaf glasses and headphones gibla</a></h3>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/video/5.jpg" alt="image"></a>
                            <a href="https://www.youtube.com/watch?v=e5Hc2B50Z7c" class="popup-videos back-video"><i class="fa-solid fa-play"></i></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cates">Life Style</a>
                            <h3><a href="#">Candy is very much in the nerves in skin</a></h3>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/video/6.jpg" alt="image"></a>
                            <a href="https://www.youtube.com/watch?v=e5Hc2B50Z7c" class="popup-videos back-video"><i class="fa-solid fa-play"></i></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cates">Life Style</a>
                            <h3><a href="#">Palenciaga and crocs team new pool style</a></h3>
                        </div>
                    </li>
                    <li>
                        <div class="image-areas">
                            <a href="#"><img src="/tema/assets/images/video/2.jpg" alt="image"></a>
                            <a href="https://www.youtube.com/watch?v=e5Hc2B50Z7c" class="popup-videos back-video"><i class="fa-solid fa-play"></i></a>
                        </div>
                        <div class="back-btm-content">
                            <a href="#" class="back-cates">Travel</a>
                            <h3><a href="#">My whole mind travels alone with her soul</a></h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>