@model List<ResultArticleDto>

@{
    ViewData["Title"] = "ArticleList";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="back-wrapper">
    
    <div class="back-breadcrumbs">
        <div class="breadcrumbs-wrap">
            <div class="breadcrumbs-inner">
                <div class="container">
                    <div class="breadcrumbs-text">
                        <h1 class="breadcrumbs-title">Makale Listesi</h1>
                        <div class="back-nav">
                            <ul>
                                <li><a href="index.html">Ana Sayfa</a></li>
                                <li>Tüm Makaleler</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="back-category-style-grid pt-70 pb-70">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="back-inner">
                            <div class="image-areas">
                                <a href="#">
                                    <img src="@item.CoverImageUrl" alt="image" style="width:100%;">
                                </a>
                            </div>

                            <div class="back-btm-content">
                                <a href="#" class="back-cates">Kategori Adı:@item.CategoryName</a>

                                <h3>
                                    <a href="#">@item.ArticleTitle</a>
                                </h3>

                                <ul>
                                    <li class="back-author">Yazar:<a href="#">Adı Soyadı</a></li>
                                    <li class="back-date">@item.CreatedDate.ToString("dd-MMM-yyyy")</li>
                                </ul>

                                <p>@item.ArticleContent.Substring(0, 50)...</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
            <!--================= Back Pagination Start Here =================-->
            <ul class="back-pagination mt-30">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="back-next"><a href="#">Sonraki<i class="arrow_carrot-right"></i></a></li>
            </ul>
            <!--================= Back Pagination End Here =================-->
        </div>
    </div>
    <!--================= Back Trending Stories End Here =================-->
</div>

