
@{
    ViewData["Title"] = "ArticleListByCategory";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="back-wrapper">
   

    @await Component.InvokeAsync("_BlogDetailBreadCrumbComponentPartial")

    
    <div class="back__blog__area back-blog-page back-blog-page-single pt-70 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-single-inner">
                        <div class="blog-content">
                            @await Component.InvokeAsync("_BlogDetailContentComponentPartial")

                            @await Component.InvokeAsync("_BlogDetailTagsComponentPartial")

                            @await Component.InvokeAsync("_BlogDetailPostAuthorComponentDetail")

                            @await Component.InvokeAsync("_BlogDetailPreviousAndNextPostComponentPartial")
                     
                            @await Component.InvokeAsync("_BlogDetailRelatedPostsComponentPartial")

                            @await Component.InvokeAsync("_BlogDetailCommentComponentPartial")

                            @await Component.InvokeAsync("_BlogDetailCommentFormComponentPartial")
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="back-sidebar pl-30 md-pl-0 back-hero-area back-latest-posts back-whats-posts">
                        @await Component.InvokeAsync("_BlogDetailSearchAreaComponentPartial")

                        @await Component.InvokeAsync("_BlogDetailSocialMediaComponentPartial")

                        @await Component.InvokeAsync("_BlogDetailLatestPostComponentPartial")

                        @await Component.InvokeAsync("_BlogDetailFollowUsComponentPartial")

                        @await Component.InvokeAsync("_BlogDetailRecentCommentComponentPartial")

                        @await Component.InvokeAsync("_BlogDetailTagsWidgetComponentPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

