<div class="toolbar-area hidden-md">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="toolbar-text">
                    <div class="latest-news-title">Son Makaleler</div>
                    <div class="latest-news">
                        <div class="back-topbar-slider owl-carousel">
                            <div>Balkan Turu: Belgrad - Novisad - Üsküp</div>
                            <div>Yapay Zeka: Etkili Google Gemini Kullanımı</div>
                            <div>Sağlık: Yeni Tedavi Yöntemleri</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="toolbar-content">
                    <div class="toolbar-sl-share">
                        <ul>
                            <li class="back-follow">Bizi Takip Edin</li>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>