<div class="back-blog-form">

    <div id="blog-form" class="blog-form">

        <div class="back-title back-small-title">
            <h2>Yorum Bırak</h2>
        </div>

        <form>

            <div class="row">

                <div class="col-lg-12">

                    <div class="back-textarea">
                        <textarea placeholder="Yorumunuz"></textarea>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="back-input">
                        <input type="text" name="name" placeholder="Ad Soyad">
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="back-input">
                        <input type="email" name="email" placeholder="E-posta">
                    </div>

                </div>

                <div class="col-lg-12">

                    <div class="back-input">
                        <input type="text" name="website" placeholder="Web Site">
                    </div>

                </div>

                <div class="col-lg-12">

                    <div class="back-check-box">

                        <input type="checkbox" id="box-1">

                        Bilgilerimi bir sonraki yorumum için tarayıcıda kaydet.

                    </div>

                    <button type="submit" class="back-btn">
                        Yorumu Gönder
                    </button>

                </div>

            </div>

        </form>

    </div>

</div>