<div class="back-title back-small-title pt-30">
    <h2>Son Haberler</h2>
</div>

<ul class="back-hero-bottom">

    <li>

        <div class="image-areas">
            <a href="#">
                <img src="/tema/assets/images/dont/1.jpg" alt="image">
            </a>
        </div>

        <div class="back-btm-content">

            <a href="#" class="back-cates">
                Teknoloji
            </a>

            <h3>
                <a href="#">
                    Yapay zeka geleceği değiştirmeye devam ediyor
                </a>
            </h3>

            <ul>
                <li class="back-date">
                    yazar:
                    <a href="#">İbrahim G.</a>
                </li>
            </ul>

        </div>

    </li>

    <li>

        <div class="image-areas">
            <a href="#">
                <img src="/tema/assets/images/dont/2.jpg" alt="image">
            </a>
        </div>

        <div class="back-btm-content">

            <a href="#" class="back-cates">
                Yazılım
            </a>

            <h3>
                <a href="#">
                    Modern web uygulamalarında performans önemli
                </a>
            </h3>

            <ul>
                <li class="back-date">
                    yazar:
                    <a href="#">İbrahim G.</a>
                </li>
            </ul>

        </div>

    </li>

    <li>

        <div class="image-areas">
            <a href="#">
                <img src="/tema/assets/images/dont/3.jpg" alt="image">
            </a>
        </div>

        <div class="back-btm-content">

            <a href="#" class="back-cates">
                Yaşam Tarzı
            </a>

            <h3>
                <a href="#">
                    Daha üretken olmak için 10 basit alışkanlık
                </a>
            </h3>

            <ul>
                <li class="back-date">
                    yazar:
                    <a href="#">İbrahim G.</a>
                </li>
            </ul>

        </div>

    </li>

    <li>

        <div class="image-areas">
            <a href="#">
                <img src="/tema/assets/images/dont/4.jpg" alt="image">
            </a>
        </div>

        <div class="back-btm-content">

            <a href="#" class="back-cates">
                Seyahat
            </a>

            <h3>
                <a href="#">
                    Dünyanın en popüler gezi rotaları
                </a>
            </h3>

            <ul>
                <li class="back-date">
                    yazar:
                    <a href="#">İbrahim G.</a>
                </li>
            </ul>

        </div>

    </li>

</ul>

<div class="back-add pt-15">

    <img src="/tema/assets/images/whats/add.jpg" alt="add-image">

</div>