<div class="back-trending-stories">
    <div class="container">
        <div class="back-title">
            <h2>Bugünün Öne Çıkanları</h2>
        </div>
        <ul class="back-trending-slider owl-carousel">
            <li>
                <div class="image-areas">
                    <a href="#"><img src="~/Images/trending/beauty.png" alt="image"></a>
                    <a href="#" class="back-cate back-beauty">Güzellik</a>
                </div>
                <div class="back-btm-content">
                    <h3><a href="#">Güzellik kraliçeleri güzellik malzemelerine ve ürünlerine ihtiyaç duyar</a></h3>
                    <ul>
                        <li class="back-author">by <a href="#"> Nisa</a></li>
                        <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>April 29, 2022</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="image-areas">
                    <a href="#"><img src="~/Images/trending/travel.png" alt="image"></a>
                    <a href="#" class="back-cate back-tra">Seyahat</a>
                </div>
                <div class="back-btm-content">
                    <h3><a href="#">Seçici odaklama ile turuncu tilki yaşamının fotoğrafçılığı</a></h3>
                    <ul>
                        <li class="back-author">by <a href="#"> Mehmet </a></li>
                        <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>March 25, 2022</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="image-areas">
                    <a href="#"><img src="~/Images/trending/design.png" alt="image"></a>
                    <a href="#" class="back-cate back-design">Tasarım</a>
                </div>
                <div class="back-btm-content">
                    <h3><a href="#">Gençlikte viral hastalıklar 2022 yılında nasıl etkili olabilir</a></h3>
                    <ul>
                        <li class="back-author">by <a href="#"> İbrahim </a></li>
                        <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>May 29, 2022</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="image-areas">
                    <a href="#"><img src="~/Images/trending/politics.png" alt="image"></a>
                    <a href="#" class="back-cate back-poli">Politika</a>
                </div>
                <div class="back-btm-content">
                    <h3><a href="#">Kadınlar mavi deri giyiyor pembe dumanla</a></h3>
                    <ul>
                        <li class="back-author">by <a href="#"> Mehmet</a></li>
                        <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>June 20, 2022</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="image-areas">
                    <a href="#"><img src="~/Images/trending/technology.png" alt="image"></a>
                    <a href="#" class="back-cate back-tech">Teknoloji</a>
                </div>
                <div class="back-btm-content">
                    <h3><a href="#">Sanal gerçeklik burada, pembe deri ile çalışıyor</a></h3>
                    <ul>
                        <li class="back-author">by <a href="#"> Enes</a></li>
                        <li class="back-date"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></span>June 20, 2022</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>