<div class="author-comment">

    <div class="back-title back-small-title">
        <h2>3 Yorum</h2>
    </div>

    <ul>

        <li>
            <div class="row">

                <div class="col-lg-1">
                    <div class="image-comments">
                        <img src="assets/images/user/user2.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-11">

                    <div class="dsc-comments">

                        <h6>Ahmet Yılmaz</h6>

                        <span class="reply">
                            <span class="date">
                                21 Temmuz 2025 - 20:24
                            </span>
                        </span>

                        <p>
                            Yapay zeka destekli araçların yazılım geliştirme sürecini
                            hızlandırdığını düşünüyorum. Özellikle junior geliştiriciler için
                            öğrenme sürecini oldukça kolaylaştırıyor.
                        </p>

                        <a href="#">Yanıtla</a>

                    </div>
                </div>

            </div>
        </li>

        <li>
            <div class="row">

                <div class="col-lg-1">
                    <div class="image-comments">
                        <img src="/tema/assets/images/user/user.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-11">

                    <div class="dsc-comments">

                        <h6>Elif Kara</h6>

                        <span class="reply">
                            <span class="date">
                                21 Temmuz 2025 - 22:44
                            </span>
                        </span>

                        <p>
                            Makaledeki öneriler gerçekten faydalı olmuş. Özellikle küçük
                            projeler geliştirerek öğrenme kısmı benim için çok değerliydi.
                        </p>

                        <a href="#">Yanıtla</a>

                    </div>
                </div>

            </div>
        </li>

        <li>
            <div class="row">

                <div class="col-lg-1">
                    <div class="image-comments">
                        <img src="assets/images/user/user3.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-11">

                    <div class="dsc-comments">

                        <h6>Mehmet Demir</h6>

                        <span class="reply">
                            <span class="date">
                                21 Temmuz 2025 - 23:10
                            </span>
                        </span>

                        <p>
                            Günümüzde sadece kod yazmak yetmiyor. Yeni teknolojileri takip etmek
                            ve sürekli öğrenmek gerçekten yazılım dünyasında büyük fark yaratıyor.
                        </p>

                        <a href="#">Yanıtla</a>

                    </div>
                </div>

            </div>
        </li>

    </ul>

</div>