<div class="single-nav">

    <div class="back-prev">
        <a href="#">

            <i class="fa-solid fa-arrow-left"></i>

            Önceki Yazı

            <em>
                Sosyal Medya Stratejileri
            </em>

        </a>
    </div>

    <div class="back-next">
        <a href="#">

            Sonraki Yazı

            <i class="fa-solid fa-arrow-right"></i>

            <em>
                Muhteşem Tema Performansı
            </em>

        </a>
    </div>

</div>