@model List<ResultTradingVideoDto>

<div class="col-lg-4 pl-30 md-pt-40">
    <ul class="back-hero-bottom">
       @foreach(var item in Model)
        {
            <li>
                <div class="image-areas">
                    <a href="#"><img src="@item.FeatureImageUrl" alt="image"></a>
                    <a href="@item.VideoUrl" class="popup-videos back-video"><i class="fa-solid fa-play"></i></a>
                </div>
                <div class="back-btm-content">
                    <a href="#" class="back-cates">@item.CategoryName</a>
                    <h3><a href="#">@item.VideoTitle</a></h3>
                </div>
            </li>
        }
        
       
    </ul>
</div>