<footer id="back-footer" class="back-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 md-mb-30">
                    <div class="footer-widget footer-widget-1">
                        <div class="footer-logo white">
                            <a href="index.html" class="logo-text"> <img src="/tema/assets/images/light-logo.png" alt="logo"></a>
                        </div>
                        <h5 class="footer-subtitle">BTK Akademi Yapay Zeka Entegreasyonu.</h5>
                        <h6 class="back-follow-us">Bizi Takip Edin</h6>
                        <ul class="social-links">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 md-mb-30">
                    <div class="footer-widget footer-widget-2">
                        <h3 class="footer-title">Category</h3>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="about.html">Teknoloji</a></li>
                                <li><a href="coureses-grid.html">Moda</a></li>
                                <li><a href="#">Yaşam Tarzı</a></li>
                                <li><a href="#">Seyahat</a></li>
                                <li><a href="profile.html">Tasarım</a></li>
                                <li><a href="contact.html">Politika</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 md-mb-30">
                    <div class="footer-widget footer-widget-2">
                        <h3 class="footer-title">Quick links</h3>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Bize Yazın</a></li>
                                <li><a href="#">Haberler</a></li>
                                <li><a href="#">İletişim</a></li>
                                <li><a href="blog.html">Bloglar</a></li>
                                <li><a href="#">Video İçerikleri</a></li>
                                <li><a href="#">Ai Asistan</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget footer-widget-3">
                        <h3 class="footer-title">Bülten</h3>
                        <h5 class="footer-subtitle">Yeni güncellemeleri almak için bültenimize abone olun!</h5>
                        <form class="back-newsletter">
                            <input type="email" placeholder="E-posta Adresinizi Girin">
                            <button type="submit">Abone Ol</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="back-copy-left">@DateTime.Now.Year Tüm Hakları Saklıdır. Geliştiren: <a href="#">İbrahim BAKAR</a></div>
            <div class="back-copy-right">
                <ul>
                    <li><a href="#">Gizlilik Politikası</a></li>
                    <li><a href="#">Şartlar ve Koşullar</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div id="backscrollUp">
    <span aria-hidden="true" class="fi-rr-arrow-small-up"></span>
</div> 