<div class="back-title back-small-title pt-50">
    <h2>Etiketler</h2>
</div>

<div class="widget widget-tags">

    <ul class="tags">

        <li>
            <a href="#">Yapay Zeka</a>
        </li>

        <li>
            <a href="#">ASP.NET Core</a>
        </li>

        <li>
            <a href="#">Web Tasarım</a>
        </li>

        <li>
            <a href="#">Yazılım</a>
        </li>

        <li>
            <a href="#">UI/UX</a>
        </li>

        <li>
            <a href="#">Junior Developer</a>
        </li>

        <li>
            <a href="#">Teknoloji</a>
        </li>

        <li>
            <a href="#">Frontend</a>
        </li>

    </ul>

</div>